.git-command {
  color: lime !important;
  text-decoration: none;
}

.git-text {
  color: orange;
}

.git-concept {
  color: yellow;
}

.file {
  color: cornflowerblue;
}

ol {
  /* width: 90%; */
}

.blue { color: deepskyblue !important;}
.red { color: red !important;}
.green { color: lawngreen !important;}
.orange { color: orange !important;}
.magenta { color: magenta !important;}
.warning { color: hotpink !important;}

.comparison {
  background: white;
}
.comparison > span {
  color: red;
  font-size: 200px;
  height: 100%;
  vertical-align: middle !important;
  padding: 20px;
  margin-left: 150px;
  margin-right: 150px;
}
.comparison > img {
  margin: 20px;
  width: 30%;
  height: 100%;
  vertical-align: middle !important;
  box-shadow: none !important;
}

.img-background {
  background: white !important;
}

.img-src {
  font-size: 20px !important;
}
