.git-command {
  color: lime !important;
  text-decoration: none;
}

.git-text {
  color: orange;
}

.file {
  color: cornflowerblue;
}

ol {
  width: 90%;
}

.comparison {
  color: black;
}
.comparison > span {
  font-size: 200px;
  height: 100%;
  vertical-align: middle !important;
  padding: 20px;
}
.comparison > img {
  margin: 20px;
  width: 40%;
  height: 100%;
  vertical-align: middle !important;
  box-shadow: none !important;
}
